In [19]:
import pandas as pd
df = pd.read_csv("./data/adult_income_dataset.csv")
# df.head()
# df.shape
# df.dtypes
# age_column = df['age']
# age_column.head()
# df[df['age'] >= 30]
# df.query('age >= 30')
# df_sorted = df.sort_values(by='age')
# df_sorted.head()
# df.isnull().sum()
# df_cleaned = df.dropna()
# df_cleaned.isnull().sum()
# mean_ages = df.groupby("sex")["age"].mean()
# mean_ages
# df["age"].plot(kind="hist")
# mean_age = df["age"].mean()
# median_age = df["age"].median()
# std_age = df["age"].std()

# print("平均値:", mean_age)
# print("中央値:", median_age)
# print("標準偏差:", std_age)
data1 = {
    "student_id": [1, 2, 3, 4, 5],
    "name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "age": [21, 22, 20, 23, 21],
    "mejar": [
        "Computer Science",
        "Mathematics",
        "Physics",
        "Chemistry",
        "Biology"
    ]
}
df1 = pd.DataFrame(data1)

data2 = {
    "student_id": [1, 2, 3, 4, 5],
    "gpa": [3.5, 3.8, 3.2, 3.7, 3.6],
    "credits_completed": [90, 100, 80, 110, 95]
}
df2 = pd.DataFrame(data2)

merged_df = pd.merge(df1, df2, on="student_id", how="inner")
merged_df

   student_id     name  age             mejar  gpa  credits_completed
0           1    Alice   21  Computer Science  3.5                 90
1           2      Bob   22       Mathematics  3.8                100
2           3  Charlie   20           Physics  3.2                 80
3           4    David   23         Chemistry  3.7                110
4           5      Eva   21           Biology  3.6                 95