In [9]:
import pandas as pd
df = pd.read_csv("./data/adult_income_dataset.csv")
# df.head()
# df.shape
# df.dtypes
# age_column = df['age']
# age_column.head()
# df[df['age'] >= 30]
# df.query('age >= 30')
# df_sorted = df.sort_values(by='age')
# df_sorted.head()
# df.isnull().sum()
df_cleaned = df.dropna()
df_cleaned.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64