In [10]:
import pandas as pd
df = pd.read_csv("./data/adult_income_dataset.csv")
# df.head()
# df.shape
# df.dtypes
# age_column = df['age']
# age_column.head()
# df[df['age'] >= 30]
# df.query('age >= 30')
# df_sorted = df.sort_values(by='age')
# df_sorted.head()
# df.isnull().sum()
# df_cleaned = df.dropna()
# df_cleaned.isnull().sum()
mean_ages = df.groupby("sex")["age"].mean()
mean_ages

sex
Female    36.858230
Male      39.433547
Name: age, dtype: float64