In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv("./data/adult_income_dataset.csv")

In [4]:
df["occupation"].unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', nan, 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [10]:
new_df = df.copy()
new_df["education"] = df["education"].replace("Bachelors", "Bachelor degree")
print(df["education"].unique())
print(new_df["education"].unique())

['Bachelor degree' 'HS-grad' '11th' 'Masters' '9th' 'Some-college'
 'Assoc-acdm' 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th'
 '10th' '1st-4th' 'Preschool' '12th']
['Bachelor degree' 'HS-grad' '11th' 'Masters' '9th' 'Some-college'
 'Assoc-acdm' 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th'
 '10th' '1st-4th' 'Preschool' '12th']

In [15]:
new_df = df.copy()
new_df["net-capital-gain"] = new_df["capital-gain"] - new_df["capital-loss"]

new_df[["capital-gain", "capital-loss", "net-capital-gain"]].head()

   capital-gain  capital-loss  net-capital-gain
0          2174             0              2174
1             0             0                 0
2             0             0                 0
3             0             0                 0
4             0             0                 0

In [21]:
from sklearn.preprocessing import StandardScaler

new_df = df.copy()

scaler = StandardScaler()
data_standardized = scaler.fit_transform(new_df[["age"]])
new_df["age_standardized"] = data_standardized
new_df[["age", "age_standardized"]].head()

   age  age_standardized
0   39          0.030671
1   50          0.837109
2   38         -0.042642
3   53          1.057047
4   28         -0.775768

In [27]:
new_df = df.copy()
Q1 = new_df["hours-per-week"].quantile(0.25)
Q3 = new_df["hours-per-week"].quantile(0.75)

IQR = Q3 - Q1

outlier_count = (
    (new_df["hours-per-week"] < (Q1 - 1.5 * IQR)) |
    (new_df["hours-per-week"] > (Q3 + 1.5 * IQR))
    ).sum()

print("hours-per-weekに含まれる外れ値の数:", outlier_count)

new_df["hours-per-week"] = np.where(
    new_df["hours-per-week"] < (Q1 - 1.5 * IQR), Q1, new_df["hours-per-week"]
)

new_df["hours-per-week"] = np.where(
    new_df["hours-per-week"] > (Q1 + 1.5 * IQR), Q3, new_df["hours-per-week"]
)

new_df[["hours-per-week"]].head()

hours-per-weekに含まれる外れ値の数: 9008

   hours-per-week
0            40.0
1            40.0
2            40.0
3            40.0
4            40.0

In [31]:
new_df = df.copy()

print("補完前:", new_df["occupation"].isnull().sum())
new_df["occupation"] = new_df["occupation"].fillna("None")
print("補完後:", new_df["occupation"].isnull().sum())

補完前: 1843
補完後: 0

In [7]:
new_df = df.copy()
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
new_df["hours-per-week-normalized"] = scaler.fit_transform(new_df[["hours-per-week"]])
new_df[["hours-per-week", "hours-per-week-normalized"]].head()

   hours-per-week  hours-per-week-normalized
0              40                   0.397959
1              13                   0.122449
2              40                   0.397959
3              40                   0.397959
4              40                   0.397959

In [8]:
df.iloc[4]

age                               28
workclass                    Private
fnlwgt                        338409
education                  Bachelors
education-num                     13
marital-status    Married-civ-spouse
occupation            Prof-specialty
relationship                    Wife
race                           Black
sex                           Female
capital-gain                       0
capital-loss                       0
hours-per-week                    40
native-country                  Cuba
income                         <=50K
Name: 4, dtype: object